<!doctype html>
<html lang="fa-IR" dir="rtl">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {{{ title }}}
    {{{ meta }}}
    {{{ link }}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{ cssLinks }}}
</head>

<body>
    <div id="root">{{{ markup }}}</div>
    <script>window._clientData = {{{ data }}}</script>
    {{{ scriptTags }}}
</body>

</html>
